html {
  min-height: 100%;
}

body {
  min-height: 740px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  background: #fdfdfd;
  background: linear-gradient(to bottom,  #fdfdfd 0%, #eaf0f9 100%);
}

.datastax-bg-topleft {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 64px;
  width: 164px;
  background: url(../images/datastax-fdfdfd.png);
  background-size: 100% auto;
}

.cassandra-summit-botleft {
  position: absolute;
  bottom: 10px;
  left: 0px;
  height: 1em;
  width: 16em;
}

.cassandra-summit-botright {
  position: absolute;
  bottom: 10px;
  right: 0px;
  height: 1em;
  width: 16em;
  text-align: right;
}

b, strong { font-weight: bold; }
i, em { font-style: italic; }

label {
  font-weight: normal !important;
}

#top_row {
  height: 70px;
}

#top_left {
  font-size: 12px;
}
#top_middle {
  font-size: 12px;
}
#top_right {
  font-size: 12px;
}

#mid_row {
  height: 740px;
  margin-bottom: 2em;
}

#mid_left {
  height: 600px;
  font-size: 12px;
}
#mid_middle {
  overflow: visible;
  height: 600px;
  background: rgb(215, 215, 215);
  background: radial-gradient(rgb(240, 240, 240), rgb(220, 220, 220));
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  font-size: 12px;
}
#mid_right {
  height: 600px;
  font-size: 12px;
}

#bot_row {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

#bot_left {
  font-size: 12px;
}
#bot_middle {
  font-size: 12px;
}
#bot_right {
  font-size: 12px;
}

.box-device-name {
  font-size: 20px;
	fill: gray;
}

.box-whisker-bg {
  fill: rgba(255, 255, 255, 0);
}

.box {
  font-weight: bold;
}
.box .center { stroke-dasharray: 3,3; }
.box .outlier { fill: none; stroke: #ccc; }
.box line, .box rect, .box circle {
  fill: white;
  stroke: black;
  stroke-width: 1.5px;
}
